<!DOCTYPE html>

<head>
  <title>AJAX Todos</title>
  <style>
    .available-todos form { display: inline; }
  </style>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/javascripts/script.js"></script>
</head>

<body>
  <%=yield%>
</body>
</html>
