<!DOCTYPE html>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="todo.js"></script>
<head>
  <title>AJAX Todos</title>
  <style>
    .available-todos form { display: inline; }
  </style>
</head>

<body>
  <%=yield%>
</body>
</html>
